/* Variables */
:root {
  --max-width: 1200px;
  --text-width: 35em;
  --font-titles: 'Open Sans', sans-serif;
  --font-texts: 'Nunito Sans', sans-serif;
  --color-primary-100: rgb(255 247 237);
  --color-primary-200: rgb(254 215 170);
  --color-primary-300: rgb(253 186 116);
  --color-primary-400: rgb(249 115 22);
  --color-primary-500: rgb(194 65 12);
  --color-primary-600: rgb(154 52 18);
  --color-primary-700: rgb(67 20 7);
}

/* Reset */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-texts);
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-titles);
  margin: 0;
}

p {
  margin: 0;
  max-width: var(--text-width);
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* General */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.section {
  padding: 1rem;
}

.section__title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

/* Utils */
.max-width {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}


.visually-hidden {
  position: absolute;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Header */
.header {
  padding: 1rem;
  background-color: #000;
}

/* Navbar */
.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navbar__btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.navbar__img {
  border-radius: 50%;
  display: block;
  width: 3rem;
}

.navbar__menu {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.navbar__menu__link {
  color: #fff;
  display: block;
  font-size: 1.125rem;
  text-decoration: none;
}

.navbar__menu__icon {
  display: block;
  width: 2rem;
}

/* Intro */
#intro {
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  text-shadow: #000 1px 0 10px;
}

#intro::before {
  background-color: #000;
  content: '';
  inset: 0;
  position: absolute;
  transition: opacity .5s ease-in-out;
}

#intro.image-loaded::before {
  opacity: .4;
}

.intro-content {
  align-items: center;
  color: #fff;
  display: flex;
  gap: 2rem;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.intro-title {
  line-height: 1;
}

.intro-name {
  font-size: 4rem;
}

.intro-subtitle {
  font-style: italic;
}

/* Footer */
.footer {
  background-color: #000;
  padding: 2rem;
}

.footer__content {
  align-items: center;
  display: flex;
  gap: .5rem;
  justify-content: center;
}

.footer__icon {
  display: block;
  width: 1.25rem;
}

.footer__text {
  color: #fff;
  font-size: 1.125rem;
}

@media (max-width: 450px) {
  .intro-name {
    font-size: 3.5rem;
  }
}